/* Other styles */
body {
    padding-left: 73px;
    font-family: sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#sidebar .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    /* background-color: #9d97b3; */
    background-color: #7b7491;
}

.fill-screen {
    padding-bottom: 14em;
}

.task-subtitle {
    text-align: center;
    font-size: 30px;
}

#invisible {
    opacity: 0;
}

#react-root {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}


/* -------- */
/* Button variants */

.success-btn {
    width: 140px;
    height: 45px;
    font-size: 15px;
    color: white;
    background-color: rgb(51 135 150);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
  .success-btn:hover {
    background-color: rgb(73, 178, 197);
    font-size: 16px;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

.complete-btn {
    width: 115px;
    height: 43px;
    font-size: 15px;
    color: white;
    background-color: rgb(51 135 150);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.complete-btn:hover {
    background-color: rgb(73, 178, 197);
    font-size: 16px;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

#add-cards-btn {
    width: 113px;
    height: 35px;
    font-size: 15px;
    color: white;
    background-color: rgb(51 135 150);
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#add-cards-btn:hover {
    background-color: rgb(73, 178, 197);
    font-size: 16px;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

#show-deck-btn {
    width: 113px;
    height: 35px;
    font-size: 15px;
    color: white;
    background-color: rgb(196, 82, 82);
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#show-deck-btn:hover {
    font-size: 16px;
    background-color: rgb(228, 94, 94);
    box-shadow: 0px 15px 20px rgba(216, 50, 28, 0.4);
    color: #fff;
    transform: translateY(-5px);
}
/* -------- */


/* -------- */
/* Login/registration forms */
.formPanel {
    display: inline-block;
    background-color: rgb(207, 207, 207);
    padding: 3em;
    text-align: center;
}

.top-margin-btn {
    margin-top: 1em;
}
/* -------- */


/* -------- */
/* Tasks */
.task-card {
    margin-top: 2vh;
    cursor: pointer;
}

.task-list {
    background-color: #4f4866;
    color: #e5eef3;
    padding: 30px;
    border-radius: 3px;
}

#delete-task-btn {
    color: rgb(172, 62, 62);
    padding-top: 10px;
}

#delete-task-btn:hover {
    color: rgb(185, 67, 67);
}

#add-task-btn {
    padding: 0 25px;
    font-size: 30px;
    color: white;
    background-color: #7b7491;
    margin-bottom: 3vh;
    padding-bottom: 5px;
}

#add-task-btn:hover {
    background-color: #8a82a3;
}

#grid-background-left {
    background-color: #3e3852;
    border: 3px solid #b0bec5;
    border-radius: 17px;
}

#grid-background-right {
    background-color: #3e3852;
    border: 3px solid #b0bec5;
    border-radius: 17px;
}

.add-task-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 3vh;
}

.chore-list-title {
    color: #b0bec5;
    background-color: #3e3852;    
    border: 3px solid #b0bec5;
    font-size: 45px;
    text-align: center;
    border-radius: 5px;
    margin-right: 15%;
    margin-left: 15%;
}

.MuiPaper-root .task-card {
    background-color: #7b7491;
    color: #e5eef3;
    border-radius: 10px;
}

.MuiPaper-root .reward-display {
    background-color: #4f4866;
    color: #e5eef3;
    border-radius: 10px;
    padding: 10px;
}
/* -------- */


/* -------- */
/* Game styles */
.board {
    color: #e5eef3;
    background-color: #3e3852;    
    border: 3px solid #b0bec5;
    border-radius: 3px;
}

.stat-block-container {
    color: #e5eef3;
    background-color: #3e3852;    
    border: 3px solid #b0bec5;
    border-radius: 3px;
}

.deck-picture {
    color: #e5eef3;
    background-color: #3e3852;    
    border: 3px solid #b0bec5;
    border-radius: 3px;
}

.hand-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    margin-top: 3vh;
    background-color: #39344a;    
    border: 3px solid #b0bec5;
    margin-right: 10%;
    margin-left: 10%;
}

#end-turn-btn {
    display: flex;
    justify-content: center;
}

#end-turn-btn button {
    margin-top: 3vh;
    padding: 10px 4rem;
    font-size: 25px;
    color: white;
    background-color: rgb(51 135 150);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
#end-turn-btn button:hover {
    background-color: rgb(73, 178, 197);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-3px);
}

#surrender-btn {
    display: flex;
    justify-content: center;
}

#surrender-btn button {
    margin-top: 5px;
    color: white;
    padding: 8px;
    background-color: rgb(196, 82, 82);
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#surrender-btn button:hover {
    background-color: rgb(228, 94, 94);
    box-shadow: 0px 15px 20px rgba(216, 50, 28, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

.card:hover {
    transform:translateY(-25px);
}

.player-action {
    animation: usedCardPlayer 0.5s both;
}

.enemy-action {
    animation: usedCardEnemy 0.5s both;
}

.round-counter {
    display: inline-block;
    padding-left: 24px;
    color: #e5eef3;
    background-color: #3e3852;    
    border: 3px solid #b0bec5;
    font-size: 35px;
    margin-left: 25px;
    padding-right: 26px;
}
/* -------- */


/* -------- */
/* Deck Page */
.deck-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
    background-color: #39344a;    
    border: 3px solid #b0bec5;
    margin-right: 10%;
    margin-left: 10%;
}

.deck-header {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 25px;
    padding: 10px;
    color: #e5eef3;
    background-color: #3e3852;    
    border: 3px solid #b0bec5;
    border-radius: 10px;
}

.deck-title {
    color: #e5eef3;
    background-color: #3e3852;    
    border: 3px solid #b0bec5;
    font-size: 45px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 10%;
}
/* -------- */


/* -------- */
/* Animations */
@keyframes usedCardPlayer {
    from {
        opacity: 0;
        transform:translateX(-24px);
        color: greenyellow;
    }
    to {
        opacity: 1;
        transform:translateX(6px);
        color: rgb(51 135 150);
    }
}

@keyframes usedCardEnemy {
    from {
        opacity: 0;
        transform:translateX(-24px);
        color: greenyellow;
    }
    to {
        opacity: 1;
        transform:translateX(6px);
        color: rgb(196, 82, 82);
    }
}
/* -------- */