/* Other styles */
body {
    padding-left: 73px;
    font-family: sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.task-subtitle {
    text-align: center;
    font-size: 30px;
}

#react-root {
    background-color: rgba(110, 85, 52, 0.596);
}

/* Login/registration forms */
.formPanel {
    display: inline-block;
    background-color: rgb(207, 207, 207);
    padding: 3em;
    text-align: center;
}

.top-margin-btn {
    margin-top: 1em;
}

/* Tasks */
.task-card {
    margin-top: 2vh;
    cursor: pointer;
}

.task-list {
    background-color: grey;
    padding: 30px;
}

.add-task-btn {
    padding: 0 25px;
    font-size: 40px;
    color: white;
    background-color: rgb(56, 56, 163);
    margin-bottom: 3vh;
}

.add-task-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 3vh;
}

/* Game styles */
.board {
    background-color: #d7c4aa;
    border: 3px solid rgb(78 61 51);
    border-radius: 3px;
}

.stat-block-container {
    background-color: #d7c4aa;
    border: 3px solid rgb(78 61 51);
    border-radius: 3px;
}

.deck-picture {
    background-color: #d7c4aa;
    border: 3px solid rgb(78 61 51);
    border-radius: 3px;
}

.hand-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    margin-top: 3vh;
    background-color: rgb(143 130 112);
    border: 3px solid rgb(78 61 51);
}

#end-turn-btn {
    display: flex;
    justify-content: center;
}

#end-turn-btn button {
    margin-top: 3vh;
    padding: 10px 5rem;
    font-size: 25px;
}

#surrender-btn {
    display: flex;
    justify-content: center;
}

#surrender-btn button {
    margin-top: 5px;
    color: white;
    padding: 4px;
    background-color: rgb(196, 82, 82);
}

.card:hover {
    transform:translateY(-25px);
}

.player-action {
    animation: usedCardPlayer 0.5s both;
}

.enemy-action {
    animation: usedCardEnemy 0.5s both;
}

.round-counter {
    padding-left: 25px;
    color: rgb(64 64 64);
    font-size: 35px;
}


/* Deck Page */
.deck-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    background-color: grey;
    padding: 15px;
    background-color: rgb(143 130 112);
    border: 3px solid rgb(78 61 51);
}

.deck-header {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 25px;
    padding: 10px;
    color: rgb(64 64 64);
    background-color: rgb(143 130 112);
    border: 3px solid rgb(78 61 51);
}

.deck-title {
    font-size: 60px;
    color: white;
}


/* Animations */
@keyframes usedCardPlayer {
    from {
        opacity: 0;
        transform:translateX(-24px);
        color: greenyellow;
    }
    to {
        opacity: 1;
        transform:translateX(6px);
        color: rgb(52 52 130);
    }
}

@keyframes usedCardEnemy {
    from {
        opacity: 0;
        transform:translateX(-24px);
        color: greenyellow;
    }
    to {
        opacity: 1;
        transform:translateX(6px);
        color: #a73434;
    }
}